*
{
	padding: 0px;
	margin: 0px;
}
#menu-icon
{
	position: relative;
	float: left;
	padding: 20px;
	font-size: 20px;
	color: white;
	opacity: 0.8;
}
nav
{
	display: none;
	position: absolute;
	background-color: white;
	width: 20%;
	height: 600px;
	float: left;
}
nav ul
{
	list-style-type: none;
}
nav > ul > li
{
	padding: 15px;
	margin: 10px;
	border-bottom: solid 1px grey;
}
.ul-icons
{
	position: relative;
	float: right;
	line-height: 10px;
	opacity: 0.4;
}
.sub-menu
{
	display: none;
	width: 100%;
	text-align: center;
}

nav > ul > li > .sub-menu li
{
	background-size: cover;
	color: pink;
	margin-top: 10px;
	padding: 15px 0px 15px 0px;
}